.content-container {
    width: 350px;
    height: 400px;
    padding: 5px;
    color: #093672;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("./images/bg.png");
    background-size: cover;
}

.options-btn {
    position: fixed;
    bottom: 0;
    left: 41%;
}

.d-flex {

    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.cursor-pointer {
    cursor: pointer;
}

.btn {
    background: none;
    color: black;
    border: 1px solid;
    outline: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
    font-size: 14px;
}


.m-t-10 {
    margin-top: 10px;
}

.m-t-15 {
    margin-top: 15px;
}


.m-x-10 {
    margin-left: 10px;
    margin-right: 10px;
}

.p-10 {
    padding: 10px;
}

.text-center {
    text-align: center;
}


.text-bold {
    font-weight: bold;
}


.kufam {
    font-family: 'Kufam', sans-serif;
}

.fs-30 {
    font-size: 30px;
}

.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}

.zekr-input {
    width: 60%;
    height: 35px;
}

.section-container {
    border: 1px solid #e4eaff;
    border-radius: 4px;
    padding: 5px;
}

.rounded {
    border-radius: 100%;
}

.hidden {
    visibility: hidden
}

.zekr-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.zekr-container:not(:last-child) {
    border-bottom: 1px solid #e4eaff;
}

.remove-icon-container {
    margin: 0 10px;
    cursor: pointer;
}

select {
    height: 35px !important;
    border-radius: 4px !important;
}